/* RESET STYLES */

* {
    /* background-color: rgba(240, 128, 128, 0.206); */
    margin:0;
    box-sizing: border-box;
}

:root {
    --text-color: #34ac98;
    --border-color: rgba(211, 211, 211, 0.408);
    font-size: 10px;
}

/* GLOBAL STYLES */

html, body, h1, h2, h3 {
    padding: 0;
    margin: 0;

    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: var(--text-color);
}

a:visited {
    color: unset;
}

p {
    font-size: 1.6rem;
    line-height: 2rem;
}

/* HEADER STYLES */

.page-wrapper {
    min-width: 30rem;
    max-width: 33rem;
    margin: 0 auto;
    margin-bottom: 20px;
}


.wrapper__header {
    padding: 20px 0;

    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.header__nav ul {
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);
    
    display: flex;
    gap: 25px;

    font-style: italic;
    color: var(--text-color);
}

.header__nav i {
    display: none;
}

.header__logo {
    width: 120px; 
    height: 120px;
    background-image: url(./media/food-sense-logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.header__social {
    display: none;
}

/* MAIN STYLES */

.main__hero-image {
    position: relative;
}


.main__hero-image img {
    display: block;
    width: 100%;
    min-height: 350px;
    object-fit: cover;
}

.main__hero-image hgroup {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

.main__hero-image h1 {
    padding: 10px;

    background-color: rgba(237, 237, 237, 0.69);
    color: rgb(34, 34, 34);
}

.main__hero-image h2 {
    padding: 10px;

    background-color: rgba(8, 8, 8, 0.657);
    color: rgb(224, 224, 224);

    font-size: 12px;
}

.main__hero-image figcaption {
    
    width: 100%;
    height: 30px;
    padding: 10px;
    text-align: right;
    font-style: italic;
}

.main__hero-image nav {
    display: none;
}

.main__subscribe {
    padding: 20px 0;
    display: flex; 
    flex-direction: column;
    gap: 5px;

    border-top: 1px solid var(--border-color);
}

.subscribe__instructions {
    display: flex; 
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}

.subscribe__instructions > p {
    font-size: 1.2rem;
}

.subscribe__instructions .envelope {
    width: 50px;
    min-height: 40px;
    background-image: url(./media/originalAssets/FoodsenseIcons/icon-mailinglist-32-2x.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.subscribe__form {
    display: flex; 
    justify-content: space-between;
    gap: 10px;
}

.subscribe__form > * {
    flex-basis: 50%;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid rgba(211, 211, 211, 0.678);
    font-size: 1.6rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main__blogs {
    padding: 20px 0;
    display: flex; 
    flex-wrap: wrap;

}

.blog {
    padding: 20px 0;
    border-top: 1px solid var(--border-color);
    

    display: flex;
    flex-direction: column;
    gap: 10px;
    

    flex-basis: 100%;
}

.blog img {
    width: 100%;
    padding: 10px;
    
    border: 1px solid lightgray;
    border-radius: 5px;

}

.blog h2 {
    font-size: 20px;
}

.blog h2, .blog a {
    color: var(--text-color);
}

.blog p {
    font-size: 1.2rem
}

.blog p:last-child {
    color: rgb(123, 123, 123);
}

.blog p:last-child a::before {
    content: ' | ';
}

.blog p:last-child a::after {
    content: ' >> ';
}


/****** FOOTER *******/

.wrapper__footer {

    padding-top: 20px;
    border-top: 1px solid var(--border-color);

    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.footer__legal {
    display: flex; 
    flex-wrap: wrap;

    font-size: 12px;
}


.footer__legal > * {
    flex-basis: 100%;
}

.legal__site-map ul {
    display: flex;
    gap: 5px;
}

.legal_site-map li {
    flex-basis: content;
}

.legal__site-map li a {
    color: var(--text-color);
}

.legal__site-map li:nth-last-child(n + 2)::after {
    content:' | ';
}

.footer__social-media {
    display:flex;
    justify-content: flex-end;
    gap: 5px;

    flex-basis: calc(100% / 3)
}

.footer__social-media > li {
    flex-basis: 20px;
}

.footer__social-media img {
    width: 100%;
    object-fit: contain;
}



@media screen and (min-width: 480px) {
    .page-wrapper {
        max-width: 48rem;
    }
    .wrapper__header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .header__nav {
        order: 1;
    }

    .header__nav ul {
        border: none;
    }

    .header__logo {
        width: 100px;
        height: 100px;
    }

    .main__blogs {
        gap: 10px;
    }

    .blog {
        flex-basis: calc(50% - 10px);
    };
}


@media screen and (min-width: 770px) {
    .page-wrapper {
        max-width: 75rem;
    }

    .wrapper__header {
        font-size: 18px;
    }

    .wrapper__header a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        font-size: 1.4rem;
    }
    
    .wrapper__header i {
        width: 30px;
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
    }

    .wrapper__header .taste {
        background-image: url(./media/originalAssets/FoodsenseIcons/nav-tastemakers.png);
    }

    .wrapper__header .blog-icon {
        background-image: url(./media/originalAssets/FoodsenseIcons/nav-blog-new.png);
    }

    .wrapper__header .list {
        background-image: url(./media/originalAssets/FoodsenseIcons/nav-alist.png);
    }

    .wrapper__header .contribute {
        background-image: url(./media/originalAssets/FoodsenseIcons/nav-contribute.png);
    }

    .wrapper__header .about {
        background-image: url(./media/originalAssets/FoodsenseIcons/nav-about.png);
    }

    .main__hero-image hgroup {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        bottom: 80px;
    }

    .main__hero-image h1 {
        background-color: white;
    }

    .main__hero-image h2 {
        background-color: black;
    }

    .main__hero-image figcaption {
        position: absolute;
        bottom: 50px;
        right: 10px;
        width: auto;


        border-radius: 5px;

        background-color: rgba(255, 255, 255, 0.769);
        mix-blend-mode: screen;
    }

    .main__hero-image nav {
        display: block;
    }

    .main__hero-image ul {
        display: flex;
    }

    .main__hero-image li {
        display: grid;
        place-items: center;

        flex-basis: 100%;
        padding: 10px 0;

        

        background-color: #eff8f7;
        color: var(--text-color);
    }

    .main__hero-image h3 {
        font-weight: 100;
        font-size: 1.4rem;
    }

    .main__hero-image li p {
        display: none;
    }

    .main__hero-image li:first-child {
        background-color: #d9efec;
    }

    .main__subscribe {
        gap: 5px;
        flex-direction: row;
    }

    .subscribe__instructions {
        align-items: center;
    }

    .main__subscribe .envelope {
        width: 70px;
        height: 70px;
        background-position: center;

    }

    .subscribe__form {
        align-items: center;
    }

    .blog {
        flex-basis: calc(25% - 10px);
    };
}


@media screen and (min-width: 1000px) {

    .page-wrapper {
        max-width: 900px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    .page-wrapper > *{
        flex-grow: 1;
    }

    .wrapper__header {
        flex-basis: 0;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .header__nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .header__nav li a {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .wrapper__main {
        flex-basis: calc(60%);
        width: 60%;
    }

    .header__social {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 30px;

        order: 1;
    }

    .header__social button {
        
        border: 1px solid rgba(211, 211, 211, 0.633);
        
        display: flex;
        align-items: center;

        background-color: white;
        color: var(--text-color);

    }

    .header__social > * {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .header__social button {
        padding: 5px;
        border-radius: 5px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .header__social button i {
        width: 16px;
        height: 16px;
        background-size: contain;
        margin-right: 5px;
    }

    .header__social .twitter button i {
        background-image: url(./media/originalAssets/FoodsenseIcons/icon-twitter-16.png);
    }

    .header__social .facebook button i {
        background-image: url(./media/originalAssets/FoodsenseIcons/icon-facebook-16.png);
    }

    .header__social h2{
        text-transform: uppercase;
        font-size: 1.2rem;
        font-weight: 200;
        border-bottom: 1px dotted var(--border-color)
    }

    .header__social p {
        font-size: 1rem;
        width: auto;
    }

    .wrapper__footer {
        flex-basis: 100%;

    }

}

@media screen and (min-width: 1175px){

    .main__hero-image hgroup {
        bottom: 120px;
    }

    .main__hero-image figcaption {
        bottom: 90px;
    }

    .main__hero-image li {
        display: flex;
        flex-direction: column;
        align-items:flex-start ;
        padding: 20px 15px;

        
    }

    .main__hero-image h3 {
        font-weight: 100;
        font-size: 1.4rem;
    }

    .main__hero-image li p {
        display: unset;
        font-size: 1rem;
    }

}